.container{
  margin: auto;
  width: 1000px;
}
  nav>form{
    float: right;
  }
  nav>a{
    float: right;
}
  section.split{
    width: 45%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }
  article{
    display: block;
    width: 400px;
    padding: 10px;
    border-top: 1px solid #e3e3e3;
  }
  form{
    padding-top: 20px;
    border-top: 1px solid #e3e3e3;
    }
    label{
      display: inline-block;
      margin-right: 10px;
    }
    /*.form-control{
      display: inline-block;
      width: 75%;
    }*/
    .btn.btn-primary{
      float: right;
      margin: 10px;
    }
    textarea.form-control{
      width: 100%;
    }
