<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>Email Validation</title>
       <meta name="description" content="Coding Dojo Assignment Python Course Django Section">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
       <!-- Latest compiled and minified JavaScript -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
       {% load staticfiles %}
       <link rel="stylesheet" href="{% static 'email_validation/css/style.css' %}" media="screen">
    </head>
    <body>
      <div class="container">
        <h1>Email Validation</h1>
<!-- registration error alert -->
        <section>
          {% if request.session.alert %}
            <div class="alert alert-danger">
              {{ request.session.alert }}
            </div>
          {% endif %}
        </section>

<!-- register email form -->
        <section>
          <h4>Please register your email</h4>
          <form action="/register" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" type="text" name="email" placeholder="email@domain.com">
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
          </form>
        </section>
      </div>
    </body>
</html>
