<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="">
	</head>
	<body>
    <div class="container" style="width: 500px; margin: auto; margin-top: 50px;">
      <div class="panel panel-default">

        <div class="panel-heading">
          <label> Random Word (attmept #{{ request.session.attempt }})</label>
        </div>

        <div class="panel-body">
          <div class="well">
            <h1 style="text-align: center;">{{ request.session.random_word }}</h1>
          </div>
          <form action="/generate" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" style="float: right;" value="Generate">
          </form>
        </div>

      </div> <!-- closes panel -->
    </div><!-- closes container -->
	</body>
</html>
