.container{
  margin: auto;
  width: 600px;
}
  label{
    display: inline-block;
    margin-right: 10px;
  }
  .form-control{
    display: inline-block;
    width: 80%;
  }
  .btn{
    float: right;
  }
  .btn.btn-link{
    float: none;
  }
