<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <meta name="description" content="Coding Dojo, Python II, Django II, Courses Assignment">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}" media="screen">
  </head>
  <body>
    <div class="container">
      <header class="page-header">
        <h1>Courses <small>(with Django)</small></h1>
      </header>

  <!-- add new course form -->
      <section>
        <h4>Add a new course</h4>
        <form class="form-horizontal" action="/addCourse" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label">Name:</label>
            <input class="form-control" type="text" name="name">
          </div>
          <div class="form-group">
            <label class="control-label">Description:</label>
            <textarea class="form-control" rows="3" name="description"></textarea>
          </div>
          <div class="form-group">
            <input class="btn btn-success" type="submit" value="Add Course">
          </div>
        </form>
      </section>

  <!-- courses table section -->
      <section>
        <h4>Courses:</h4>
        <table class="table table-bordered">
          <thead>
            <th>Course Name</th>
            <th class="col-md-4">Description</th>
            <th>Date Added</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {% for course in courses %}
              <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description.description }}</td>
                <td>{{ course.created_at }}</td>
                <td>
                  <a class="btn btn-link" href="/comments/{{ course.id }}">comments</a>
                  <a class="btn btn-link" href="/deleteCourse/{{ course.id }}">remove</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
