<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Time Display</title>
    <meta name="description" content="Coding Dojo, Python II, Django I Assignment: time_display">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'time_display/css/style.css' %}" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p>The current date and time:</p>

        <h1>{{ date }}</h1>
        <h1>{{ time }}</h1>
      </div>
    </div>
  </body>
</html>
