<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The Wall (with Django)</title>
    <meta name="description" content="Coding Dojo, Python II, Django II, The Wall ERD Assignment">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'the_wall/css/style.css' %}" media="screen">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>My Wall Page</h1>
      </header>
    </div>
  </body>
</html>
