.container{
  width: 600px;
  height: auto;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}
section#head{
  width: 300px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 50px;
}
section#body{
  width: 400px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 50px;
}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
